<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Consultório</title>
</head>
<body>

    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="img/medico.png" height="42" width="42">
            <a href="/"><button style = "margin-left: 5vh;" class="btn btn-success">Retornar para o Inicio</button></a>  
        </a>
    </nav>
    <br><br>

    <div class="card" id="card">
        <div class="card-head">
           <h3>Médico Geral</h3>
           <hr>
        </div>
        <div class="card-body">
            <h4>Pacientes:</h4>
            <% geral.forEach(paciente => {%>
                <p><%=paciente.nome%>, será atendido</p>
            <%})%>
        </div>
    </div>
    <br>
    <div class="card" id="card">
        <div class="card-head">
           <h3>Médico Cardiologista</h3>
           <hr>
        </div>
        <div class="card-body">
            <h4>Pacientes:</h4>
            <% cardiologista.forEach(paciente => {%>
                <p><%=paciente.nome%>, será atendido</p>
            <%})%>
        </div>
    </div>
    <br>
    <div class="card" id="card">
        <div class="card-head">
           <h3>Médico Pediatra</h3>
           <hr>
        </div>
        <div class="card-body">
            <h4>Pacientes:</h4>
            <% pediatra.forEach(paciente => {%>
                <p><%=paciente.nome%>, será atendido</p>
            <%})%>
        </div>
    </div>
    <br>
    <div class="card" id="card">
        <div class="card-head">
           <h3>Médico Ginecologista</h3>
           <hr>
        </div>
        <div class="card-body">
            <h4>Pacientes:</h4>
            <% ginecologista.forEach(paciente => {%>
                <p><%=paciente.nome%>, será atendida</p>
            <%})%>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>